@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Poppins:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kurale&family=Poppins:wght@300&family=Roboto&display=swap');


*{
    font-family:'Roboto', sans-serif,'Inter', sans-serif;
    margin:0;
    padding:0;
   
    
}
html{
    height:100%;
}

/*inicia nav*/

nav{
    background: rgb(0, 124, 128);
    position:fixed!important;
    top:0;
    left:0;
    width:100%;
    color:white;
    z-index:99;

    
}
.titulo{
    text-decoration:none;
    color:white;
    font-size:3em;
    margin-top: 60px;  

   
}

nav img{ 
    display:flex;
    width: 100px;
    height: 100px;
    margin-bottom:5px;
   
   
}

    nav ul{
    list-style: none;
    display:flex;
    padding: 90px 5px 10px 250px;
    font-size:1.2em; 
        
        }
            nav ul li a{
            text-decoration: none;
            color:white;
            margin-left:10px;
         }
            nav ul li a:hover{
                color:black;
                text-decoration: underline;
            }
.navbar-toggler{
    background-color: white;
}

/*inicia header, carrousel*/


header{
    padding:200px 20px 30px 20px;
    
    
}


    header img{
      padding-bottom:50px;
      width:80%;
      height:auto;
      
    }

/*body y main*/
   
body{
    background-color:rgb(212, 252, 252);
    
}

main{
    text-align:center;
    display:flex;
    flex-wrap:wrap;
}

/*propiedades destacadas en figures*/

.destacadas{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
    }



    .propiedades-destacadas{
        color:white;
        text-align:center;
        font-family: 'Inter', sans-serif;
        font-size:40px;
        background-color: rgb(0, 124, 128);
        width:100%;
        margin-bottom:50px;
      
    }

    .destacadas figure{
        width:30%;
        border-radius: 2px;
        border: solid grey;
        height:auto;
        margin-bottom:20px;
    }

        .destacadas figure img{
            height: 180px;
            width:200px;
            margin-top:15px;
        }

            .destacadas figure p{
            font-size:1rem;
            line-height: 1.2rem;
            margin:20px;
            text-align: center;
            height:12em;

            }

                .destacadas figure figcaption{
                    color:rgb(0, 124, 128);
                    font-size:1.5rem;
                    margin-top: 10px;
                    
                }

                    .destacadas figure button{
                        border:solid;
                        background-color:rgb(0, 124, 128);
                        color:white;
                        border-radius: 8px;
                        padding:10px;
                        margin-bottom: 20px;
                        margin-top:20px;
                        width:150px;
                        height: 60px;
                        font-size: 1rem;
                    }



/*footer*/


footer{
    background-color:rgb(0, 124, 128);
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    }

    footer section{
        margin: 10px;
        
    }

        footer section div{
            margin-top:8px;
        }

            footer section div a img{
                height:auto;
                width:20px;
            }

                footer section div a{
                    text-decoration: none;
                    color:white;
                    font-family: 'roboto';
                }

/*selector filtros*/

.filtros{
    display:flex;
    justify-content:right;
    padding:20px;
    
}

    .filtros select{
        background-color: rgb(0, 124, 128);
        color:white;
        font-size: 20px;
        border:none;
        font-family: 'roboto';
    }


/*contacto*/

.main-contacto{
    margin-top:30px;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:auto;
    grid-template-areas:
   
    "mapa formulario"
    "sueño sueño";
    gap:5px;
    }

#mapa{
    grid-area: mapa;
    padding-left:40px;
   
}

#formulario{
    grid-area:formulario;
    font-size: 20px;
    margin-right: 10px;
}

#boton-contacto{
    background-color: rgb(0, 124, 128);
    color:white;
}

/*contacto - imagen inferior*/

#sueño{
    grid-area: sueño;
    padding-top:30px;
    padding-bottom: 30px;
    width:100%;
   
}

/*contacto - titulo (section)*/

#contacto{
    margin-top:250px;
    color:white;
    background-color: rgb(0, 124, 128);
    text-align: center;
  

}

/*contacto - imagen inferior (img)*/

#imagen-contacto{
    width:1400px;
    height:auto;
}


/*tasaciones*/

.imagen-tasaciones{
    width:600px;
    height:auto;
    margin-bottom: 10px;
}

#formulario-tasaciones{
    width:50%;
    font-size: 20px;
    

}


#tasaciones{
    margin-top:250px;
    margin-bottom:80px;
    color:white;
    background-color: rgb(0, 124, 128);
    text-align: center;
}

.main-tasaciones{
    display:flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:30px;
}


/*sobre nosotros*/


#nosotros{
    margin-top:250px;
    margin-bottom:80px;
    color:white;
    background-color: rgb(0, 124, 128);
    text-align: center;
}

.main-nosotros{
    margin-bottom:80px;
    display:flex;
    margin-left: 10px;
    margin-right: 10px;
    color:rgb(0, 124, 128);
}








/*responsive hasta 480px*/

@media screen and (max-width: 480px){
   
   
 /*nav*/  

    .titulo{
    font-size: 1.8em;
    margin-top:0;
    margin-left:5px;
    
   }
    nav{
    align-items: flex-end;
    position:absolute !important;
    flex-wrap: nowrap!important;
    }

   nav img{
    width:80px;
    height:80px;    
   }

   nav ul{
    flex-direction: column;
    padding:0 5px 0 0;
    font-size: 20px;
   }


/*header*/
    header{
        display:none;
    }

    
/*index - propiedades destacadas*/  
    
    .propiedades-destacadas{
        margin-top: 150px;
        font-size:30px;
    }


   .destacadas{
    flex-direction: column;
    
   }
   .destacadas figure{
    width:100%;
    height:auto;
   }

   .destacadas figure p{
    height: 180px;
   }
   
   .destacadas figure button{
    margin-top:10px;
}

/*footer*/

    footer{
        flex-direction:column;
        height:auto;
        }


/*contacto*/

        #contacto{
            margin-top:140px;
        }
        
        .main-contacto{
            display:grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            grid-template-areas:
   
            "mapa"
            "formulario"
            "sueño";
            justify-content: center;
        }

        #mapa{
            width:100%;
            padding:10px 10px 10px 10px;
        }


        #sueño{
            display:none;
        }

        #formulario{
            width:100%!important;
            margin-top:20px;
            margin-bottom:20px;
        }


/*tasaciones*/

.main-tasaciones{
    display:flex;
    flex-direction: column;
}
   
#formulario-tasaciones{
    width:100%;
}

.imagen-tasaciones{
    width:100%;
}

#tasaciones{
    margin-top:150px;
    margin-bottom:20px;
}


#nosotros{
    margin-top:150px;
}



}





   
/*responsive desde 480px hasta 768px*/


@media screen and (min-width:480px) and (max-width:768px){

/*nav*/

.titulo{
    margin-top:0;
    margin-left:5px;
    font-size: 2.5em;
}

    nav{
        align-items: flex-end;
        position:absolute !important;
        flex-wrap: nowrap!important;
    }
   
    nav ul{
        flex-direction:column;
        font-size: 25px;
        padding: 5px 10px 0 0;
    }


/*index - propiedades destacadas*/
        
    .destacadas{
        display:grid;
        grid-template-columns:50% 50%;
        grid-template-rows:auto;
    }

    .destacadas figure{
        width:100%;
        height:auto;
        
    }

    .destacadas figure button{
        margin-top:32px;
    }

/*contacto*/

    #contacto{
        margin-top:200px;
    }

    .main-contacto{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:

        "mapa"
        "formulario"
        "sueño";
        justify-content: center;
    }

    #mapa{
        width:100%;
        padding:10px 10px 10px 10px;
    }


    #sueño{
        display:none;
    }

    #formulario{
        width:100%!important;
        margin-top:20px;
        margin-bottom:20px;
    }

/*tasaciones*/

.main-tasaciones{
    display:flex;
    flex-direction: column;
}

#formulario-tasaciones{
    width:100%;
}


}