.propiedades-destacadas{
        color:map-get($map: $paleta, $key:dos);;
        text-align:center;
        font-family: $myfont;
        font-size:$textLg;
        background-color: map-get($map: $paleta, $key:uno);;
        width:100%;
        margin-bottom:50px;    
}

.destacadas{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
    figure{
        width:30%;
        border-radius: 2px;
        border: solid map-get($map: $paleta, $key:uno);
        height:auto;
        margin-bottom:20px;
        img{
            height: 180px;
            width:200px;
            margin-top:15px;
        }
        img:hover{
            cursor: pointer;
            transform:scale(1.1);
        }
        p{
            font-size:$textSm;
            line-height: 1.2rem;
            margin:20px;
            text-align: center;
            height:12em;
            color:map-get($map: $paleta, $key:uno);


            }
        figcaption{
            color:map-get($map: $paleta, $key:uno);
            font-size:$textMs;
            margin-top: 10px;
            }
    }
}