footer{
    background-color:map-get($map: $paleta, $key:uno);
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    section{
        margin: 10px;
        div{
            margin-top:8px;
            
            a{
                text-decoration: none;
                color:map-get($map: $paleta, $key:dos);
                font-family: 'roboto';
                font-size: $textSm;
                img{
                    height:auto;
                    width:20px;
                }
            }
            
            }
        }
}


