/*responsive hasta 480px*/

@media screen and (max-width: 480px){
   
/*nav*/  
   
nav{
    display:flex;
    align-items: flex-end;
    position:absolute !important;
    flex-wrap: nowrap!important;
    img{
        width:80px;
        height:80px;    
       }
    ul{
        flex-direction: column;
        padding:0 5px 0 0;
        font-size: 20px;
       }
    .navbar-toggler{
    background-color: map-get($map: $paleta, $key:dos);  
    }

    }
     
.titulo{
    display:none;
    }


        
   
   
/*header*/
    header{
        display:none;
    }
   
       
/*index - propiedades destacadas*/  
       
.propiedades-destacadas{
    margin-top: 150px;
    font-size:30px;
    }
   
   
    .destacadas{
       flex-direction: column;
       figure{
        width:100%;
        height:auto;
        p{
            height: 180px;
            }
        button{
            margin-top:10px;
            }
       }
    }
         
/*footer*/
   
footer{
    flex-direction:column;
    height:auto;
    }
   
/*contacto*/
   
#contacto{
    margin-top:140px;
    }
           
.main-contacto{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:

    "mapa"
    "formulario"
    "sueño";
    justify-content: center;
    #mapa{
        width:100%;
        padding:10px 10px 10px 10px;
    }
    #formulario{
        width:100%!important;
        margin-top:20px;
        margin-bottom:20px;
    }
}               
   
#sueño{
    display:none;
}           
   
   
/*tasaciones*/
   
#tasaciones{
    margin-top:150px;
    margin-bottom:20px;
}

.main-tasaciones{
       display:flex;
       flex-direction: column;
       .imagen-tasaciones{
        width:100%;
        }
        #formulario-tasaciones{
            width:100%;
        }
   }
      
   #nosotros{
    margin-top:150px;
}
   
}
   
/*responsive desde 480px hasta 768px*/
   
   
@media screen and (min-width:480px) and (max-width:768px){
   
/*nav*/
   
.titulo{
       margin-top:0;
       margin-left:5px;
       font-size: $textLg;
   }
   
nav{
    align-items: flex-end;
    position:absolute !important;
    flex-wrap: nowrap!important;
    ul{
        flex-direction:column;
        font-size: $textMs;
        padding: 5px 10px 0 0;
    }
    }   
   
/*index - propiedades destacadas*/
           
       .destacadas{
           display:grid;
           grid-template-columns:50% 50%;
           grid-template-rows:auto;
           figure{
            width:100%;
            height:auto;
            button{
                margin-top:32px;
            }
            }
       }


/*tasaciones*/
   
.main-tasaciones{
    display:flex;
    flex-direction: column;
    #formulario-tasaciones{
     width:100%;
    }
    }


}



/*responsive desde 480px hasta 1200px*/

@media screen and (min-width:480px) and (max-width:1200px){

/*contacto*/
   
#contacto{
    margin-top:200px;
    }
   
.main-contacto{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
   
    "mapa"
    "formulario"
    "sueño";
    justify-content: center;
    #mapa{
        width:100%;
        padding:10px 10px 10px 10px;
    }
    #formulario{
        width:100%!important;
        margin-top:20px;
        margin-bottom:20px;
    }
    }
   
       
#sueño{
    display:none;
    }
}



/*responsive hasta 768px*/

@media screen and  (max-width:768px){



.btn-secondary{
    background-color:map-get($map: $paleta, $key:uno)!important;
    border:none;
    color:map-get($map: $paleta, $key:dos);
    font-size: $text13;
}

.navbar-toggler{
    display:none;
}

.titulo{
    display:none;
}

.dropdown-item{
    color:map-get($map: $paleta, $key:uno);
    border-color:map-get($map: $paleta, $key:uno);
    font-size: $text13;
}

.body-error{
    main{
        display: grid;
        grid-template-columns: 100%;
        .error1{
            display: none;
        }
    }
}

}






/*responsive a partir de 768px*/

@media screen and  (min-width:768px){

.btn-secondary{
    display: none;
}

}