body{
    background-color:map-get($map: $paleta, $key:dos);
    nav{
        background:map-get($map: $paleta, $key:uno);
        position:fixed!important;
        top:0;
        left:0;
        width:100%;
        color:map-get($map: $paleta, $key:dos);
        z-index:99;
        img{ 
            animation-name: animateDiv;
            animation-duration: 500ms;
            animation-iteration-count: 1;
            display:flex;
            width: 100px;
            height: 100px;
            margin-bottom:5px;
        }
        ul{
            list-style: none;
            display:flex;
            padding: 90px 5px 10px 250px;
            font-size:$text12;
            li{
                a{
                text-decoration: none;
                color:map-get($map: $paleta, $key:dos);
                margin-left:10px;
                }
                a:hover{
                    cursor: pointer;
                    transform:scale(1.1);
                    color:map-get($map: $paleta, $key:siete);
                    text-decoration: underline;
                }            
            }
        }
    } 
    main{
        text-align:center;
        display:flex;
        flex-wrap:wrap;
    } 
}

.titulo{
    text-decoration:none;
    color:map-get($map: $paleta, $key:dos);
    font-size: $text3;
    margin-top: 60px;  
}

.navbar-toggler{
    background-color: map-get($map: $paleta, $key:dos);
}