/*sobre nosotros*/


#nosotros{
    margin-top:250px;
    margin-bottom:80px;
    color: $secondaryColor;
    background-color: $primaryColor;
    text-align: center;
}

.main-nosotros{
    margin-bottom:80px;
    display:flex;
    margin-left: 10px;
    margin-right: 10px;
    color:$primaryColor;
}








