/*sobre nosotros*/


#nosotros{
    margin-top:250px;
    margin-bottom:80px;
    color: map-get($map: $paleta, $key:dos);
    background-color: map-get($map: $paleta, $key:uno);
    text-align: center;
}

.main-nosotros{
    margin-bottom:80px;
    display:flex;
    margin-left: 10px;
    margin-right: 10px;
    color:map-get($map: $paleta, $key:uno);
}








