// variables


//colores
$primaryColor:rgb(0, 124, 128);
$secondaryColor: white;
$thirdColor: grey;
$fourthColor:black;
$fifthColor:rgb(212, 252, 252);

//fonts

$myfont:'Roboto', sans-serif,'Inter', sans-serif;
$textsmall:0.8em;
$textSm:1em;
$text12:1.2em;
$textMs:1.5em;
$textLg:2.4em;
$text3:3em;

//margin y padding



